.save-from {
    /* border: 10px solid red; */
    flex-direction: column;
    margin-top: 20px;
}

.task-and-category-list {
    /* border: 1px solid red; */
    margin-top: 10px;
    height: 38vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
.sub-task-container {
    /* border: 10px solid black; */
    flex: 1;
}

.category-list {
    border: 10px solid blue;
    height: 30vh;
}
