body {
    margin: 0;
    font-family: "Fira Sans";
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-origin: padding-box;
    box-sizing: border-box;
}
